// Colores
$palette: (
    "bg-primary": #FFFAF4,
    "bg-secondary": #FFF6EB,
    "text-primary": #030207,
    "accent": #759592,
);
//Fuentes
$main-font:'Overpass', sans-serif;
$title-font:'Rubik', sans-serif;
